body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div.text-editor {
  font-family: inherit;
}

.public-DraftEditor-content {
  -webkit-user-modify: read-write-plaintext-only;
  user-modify: read-write-plaintext-only;
}
